<div class="header-page">
  <h1
    class="title-page"
    data-test="title-page">
    Explore o mercado
  </h1>

  <div class="ordenation">
    <span data-test="ordenation-label">Ordenar:</span>

    <div class="buttons">
      <button
        class="ordenation-button"
        [class.active]="currentSort === 'em-alta'"
        data-test="ordenation-button-em-alta"
        (click)="sortBy('em-alta')">
        Em Alta
      </button>

      <button
        class="ordenation-button"
        [class.active]="currentSort === 'em-baixa'"
        data-test="ordenation-button-em-baixa"
        (click)="sortBy('em-baixa')">
        Em Baixa
      </button>
    </div>
  </div>
</div>
