<app-header />

<main class="container">
  <div class="header-page">
    <h1
      class="title-page"
      data-test="title-page">
      Explore o mercado
    </h1>

    <div class="ordenation">
      <span data-test="ordenation-label">Ordenar:</span>

      <div class="buttons">
        <button
          class="ordenation-button"
          data-test="ordenation-button-em-alta">
          Em Alta
        </button>

        <button
          class="ordenation-button"
          data-test="ordenation-button-em-baixa">
          Em Baixa
        </button>
      </div>
    </div>
  </div>
</main>
